@CHARSET "EUC-KR";

body {
	margin:0;
	font-size:18px;
	font-family:'NanumGothic','나눔고딕','맑은 고딕','Malgun Gothic','돋움',dotum,'Apple SD Gothic Neo',sans-serif,"Cinzel";
}

a{
	text-decoration:none;
	
}

h4{
	margin:0px;
}

ul, ol, dl, li, p {
	padding: 0;
    margin: 0;
    list-style: none;
}

ul {
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.center-wrap {
	
}

.center-home-div {
	background-color:#f2f2f2;
	border-top:1px solid #e1e1e1;
	
	    
}

#more-faqboard{
	position:absolute;
	right:23px;
	top:25px;
}

.center-home {
	list-style:none;
    margin:0 auto;
    padding:0;
    width:970px;
	height:28px;

	font-weight:bold;
	
}

.center-home-inner {
	margin-top:14px;
}
.center-text {
	color:#1f0da8;
	text-decoration: none;
	
}

.center-text:visited{
	color:#1f0da8;
	text-decoration: none;
}
.center-text:active{
	color:#1f0da8;
	text-decoration: none;
}
.center-text:hover{
	color:#1f0da8;
	text-decoration: none;
}

.center-home-line {
	height:3px;
	background-color:#1f0da8;
	
}

.center-menu {

}

.container {
	position:relative;
		margin-top:38px;
	margin-bottom:38px;
	margin-right:auto;
	margin-left:auto;
	    width: 970px;
    max-width: 970px;
    min-width: 970px;
}

.center-title {
	font-size:20px;
	font-color:#333;
}

.center-number {
	position:relative;
	padding:14px;
	border:6px solid #e1e1e1;
	font-size:17px;
}

.center-number-text {
	display:inline;
	position:absolute;
	right:19px;	
	font-size:14px;
	margin-top:3px;
}

.FAQ {
	position: relative;
	display:block;
	width: 100%;
    height: 75px;
    margin-bottom: 10px;
	background-color: #4110b7eb;
	
}
.search-label {
	margin-top:20px;
	padding:20px;
	color:white;

}
.search {
	position: absolute;
	overflow:visible;
    top: 10px;
    left: 141px;
    width: 500px;
    height: 36px;
    border: 3px solid #1f0da8;
    

}

#search{
	position: absolute;
    overflow: visible;
    top: 5px;
    right: 18px;
    height: 17px;
    width: 19px;
    border: 0;
    outline: 0;
	background-image: url("image/search_button.png");
    background-size:100% 100%;
}
#search_img {
	height:auto;
	width:auto;

}

.box-header{
	padding:25px 22px 0 24px;
}

#FAQ-content {
	border-top:3px solid #1f0da8;
	position:relative;
	width: 644px;
}
.search-wrap {
	height:31px;
	display:block;
	text-align:right;
	margin-bottom: 10px !important;
	box-sizing: border-box;
}
#select {
	position: absolute;
	top: 1px;
	right:250px;
	height:26px;
	margin-right:6px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
    color: #666666;
    font-size: 12px;
    vertical-align:middle;
    
}
#searchbar {
	position: absolute;
	overflow:hidden;
    right: 10px;
    line-height: 22px;
	    width: 240px;
    font-size: 14px;
    text-indent: 10px;
}

.FAQlist{
}

.FAQlist span {
	display:block;
	
}

.FAQlist .header>span {
	display:block;
	height: 46px;
    line-height: 46px;
    float: left;
    font-weight: 700;
    font-size: 13px;
}

.header {
	border-top: 2px solid #1f0da8;
	box-sizing: border-box;
	border-bottom: 1px solid #d9d9d9;
	overflow:hidden;
}
.hd1{
	width: 64px;
    text-align: center;
}
.hd2{
	    width: 163px;
}
.hd3{
	    width: 620px;
    text-align: center;
}

.FAQlist .panel {
	margin: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 0 rgba(0,0,0,0.05);
    border: none;
    overflow: visible;
    box-sizing: border-box;
}

.FAQlist .panel a.showdown {
	display: block;
    border-bottom: 1px solid #d9d9d9;
    height: 46px;
    line-height: 46px;
    color: #333;
    font-size: 12px;
    overflow: hidden;
    box-sizing: border-box;
    
}

.FAQlist .panel a.top5 {
	background-color: #f2f2f2;
}

.FAQlist .panel a.top5 .hd1{
	font-size: 14px;
    color: #503396;
    width: 64px;
    height: 100%;
    text-align: center;
}

.FAQlist .panel a .hd3 {
	text-align:left;
}

.FAQlist .panel a.showdown span {
	display: block;
    float: left;
    box-sizing: border-box;
}

.FAQlist .panel a.other .hd1 {
	visibility:hidden
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.FAQlist .panel .content{
	padding: 30px;
	padding-left: 227px;
    color: #737373;
    font-size: 12px;
    border-bottom: 1px solid #d9d9d9;
}

.mt25{
	margin-top: 25px !important;
}

.custom-pagination {
	text-align: center;
}

.custom-pagination li {
	display: inline-block;
    vertical-align: top;
}

.custom-pagination li a {
	display: block;
    border: 1px solid #ccc;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
    text-decoration: none;
}

.custom-pagination li .active{
	border-color: #351F66;
    background-color: #1f0da8;
    color: #fff;
}