@CHARSET "UTF-8";
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
   /*  padding: 100px 0; */
}
.details-card {
	/* background: #ecf0f1; */
}

.card-content {
	overflow: hidden;
	background: #ffffff;
	border: 4px;
	margin-bottom: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
    

}

.card-img img {
	width: 100%;
	height: auto;
 	/* aspect-ratio: calc(9/16); */
	display: block;
}

.card-img span {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	position: absolute;
    top: 7%;
    left: 5%;
    background: #dc3545;
    padding: 6px;
    color: white;
    /* border-radius: 4px; 
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;*/
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 16px;
    font-weight: 900;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	/* padding-left: 0.7rem;
	padding-right: 0.7rem;
	padding-top: 0.7rem;
	padding-bottom: 1.2rem; */
}
.details-card .col-md-3{padding:0 5px; padding-left: 3px; padding-right: 3px;}
.card-desc .title{
	color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 15px 12px;
    border-bottom:1px #ccc solid;
}
.card-desc .date{
	padding: 10px 10px;
}
.card-desc .col-md-6:nth-child(1){
	padding-left: 10px;
	padding-right: 2px;
}
.card-desc .col-md-6:nth-child(2){
	padding-left: 2px;
	padding-right: 10px;
}
.card-desc .btn-container{
	margin-bottom:10px;
	
}
.card-desc .btn{
	width:100%;
	font-size:16px;
	border-radius: 0px;
	background-color: #ececec;
	padding-top: 15px;
	padding-bottom: 15px;
	/* box-sizing: border-box; */
	border:2px #ececec solid;
	font-weight:bold;
	color:#777;
}
.card-desc .btn:hover{
	background-color: white;
	border:2px gray solid;
	color:gray;
}
a:hover{
	text-decoration: none;
}
/* End card section */