@CHARSET "UTF-8";

/*기본 css*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: "맑은 고딕", sans-serif;
	background-color: white;
}

input {
	outline: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}



/* 고정메뉴 관련 CSS */
/* Show it is fixed to the top */
/*body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
button{
	width: 100%;
}*/
/* 고정메뉴 관련 CSS 끝*/